<launch>

    <arg name="scan_topic" default="front/scan" /> 
    <arg name="laser_frame" default="front_laser" />
    <arg name="odom_frame" default="odom" />
    <arg name="base_frame" default="base_link" />
    <arg name="map_frame" default="map" />

    <arg name="respawn" default="true"/>
    <arg name="debug" default="false"/>

    <arg name="gui" default="true"/>

    <!-- Adding Robot -->
    <include file="$(find jackal_gazebo)/launch/jackal_world.launch" >
        <arg name="gui" value="$(arg gui)"/>
    </include>
   
    <!-- NAVIGATION -->
    <!-- mapping node-->
    <include file="$(find mowito_jackal)/launch/secondary_launch/start_mw_mapping.launch">
        <arg name="scan_topic" value="front/scan" /> 
        <arg name="laser_frame" value="front_laser" />
        <arg name="odom_frame" value="odom" />
        <arg name="base_frame" value="base_link" />
        <arg name="map_frame" value="map" />
    </include>
    
    <!-- nav server-->
    <include file="$(find mowito_jackal)/launch/secondary_launch/start_nav_server.launch">
        <arg name="mission_executive_config" value="$(find mowito_jackal)/config/mission_executive_config/standard_nav.yaml"/>
        <arg name="respawn" value="$(arg respawn)"/>
        <arg name="gp_debug" value="$(arg debug)"/>
        <arg name="ctrl_debug" value="$(arg debug)"/>
        <arg name="rcvr_debug" value="$(arg debug)"/>  
    </include>
     <node type="rviz" name="rviz" pkg="rviz" args="-d $(find mowito_jackal)/rviz/mowito_nav_no_map.rviz" />

</launch>